@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 50px;
}

main{
    min-height: 90vh;
}

#resultCont div::first-letter{
    text-transform: uppercase;
}

input[type='text']{
    min-width: 23vw;
    padding: 3px 12px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
}

footer{
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}